[submodule "Voxel/vendor/spdlog"]
	path = Voxel/vendor/spdlog
	url = https://github.com/gabime/spdlog.github
[submodule "Voxel/vendor/glfw"]
	path = Voxel/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Voxel/vendor/imgui"]
	path = Voxel/vendor/imgui
	url = https://github.com/nixuh3/imgui.git
